/* body{
    background-color: black;
} */
*{
    color:white;
}
#val , .num , .op , .singleOp{
    border: 2px white solid;
}
#menu {
    background-color: rgb(50, 50, 50);
}
#modeD:hover {
    background-color: rgb(70, 70, 70);
}
